body {
    font-family: Arial, sans-serif;
    background-color: #E8D8B9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.title h1 {
    margin: 0;
}

.agent-info {
    text-align: right;
}

.navigation {
    background-color: #f4f4f4;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.nav-button {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-button
{
	background-color:#919191;
}

.admin-button:hover
{
	background-color:#333;
}

.nav-button:hover {
    background-color: #0056b3;
}

.dashboard {
    padding: 20px;
    display:flex;
    flex-direction: column;
    min-height: 80vh;
}

.dashboard table {
    width: 100%;
    border-collapse: collapse;
}

.dashboard th, .dashboard td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
}

.dashboard th {
    background-color: rgb(152, 203, 241);
    text-align: left;
}

.footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* create reservation guest id search   */
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*  modal search results   */
.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.results-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.results-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


/* */
.roomModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.roomModal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.rsClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
